<!-- <h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>
 -->

<form action="/answer">
  <div class="form-group">
    <input type="text" name="question" class="form-group element-form">
  </div>
    <input type="submit" value="Ask!" class="btn btn-info">
  </form>

