// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.element-form {
  padding: 12px 150px;
  margin: 10px;
}

.link {
  text-decoration: none;
}
